body {
    margin: 0;
}

.total-dialog-mensagem {
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden; /* Adiciona overflow: hidden; para remover a barra de rolagem */
    margin: 0;
    padding: 0;
}

.dialog-aviso-mensagem {
    text-align: center;
    padding: 20px;
    border-radius: 8px; 
}

.data-mensagem {
    font-size: 30px;
}

/* Adicione estilos adicionais para o botão se necessário */
