<app-titulo [titulo]="'Selecione a forma de pagamento'"></app-titulo>

<div class="formas_pagamento_container">
  <div class="forma_pagamento"><mat-icon>account_balance_wallet</mat-icon>&nbsp;Dinheiro</div>
  <div class="forma_pagamento"><mat-icon>credit_card</mat-icon>&nbsp;Cartão</div>
  <div class="forma_pagamento"><mat-icon> fastfood</mat-icon>&nbsp;Vale alimentação</div>
  <div class="forma_pagamento"><mat-icon>card_giftcard</mat-icon>&nbsp;Vale presente</div>
  <div class="forma_pagamento"><mat-icon>call_to_action</mat-icon>&nbsp;Cheque</div>
  <div class="forma_pagamento"><mat-icon>featured_play_list</mat-icon>&nbsp;Boleto</div>
  <div class="forma_pagamento"><mat-icon>pix</mat-icon>&nbsp;Pix</div>
  <div class="forma_pagamento"><mat-icon>account_balance</mat-icon>&nbsp;Depósito bancário</div>
  <div class="forma_pagamento">	<mat-icon>calendar_today</mat-icon>&nbsp;Crediário</div>
</div>
