.formas_pagamento_container {
    margin-top: 2%;
    display: grid;
    grid-template-columns: repeat(3, 470px);
    gap: 14px;
    justify-content: center; 
    align-items: center; 
}
  
.forma_pagamento {
    width: 450px; 
    height: 200px; 
    border: 1px solid #000; 
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto; 


    box-shadow: 5px 5px 5px rgb(174, 174, 174);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #00d0ff;
    font-size: 25px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
}

.forma_pagamento:hover{
    background-color:rgb(0, 179, 255);
}

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8); /* Um fundo semi-transparente para sobrepor outros elementos */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999; /* Certifique-se de que está acima de outros elementos */
  }
  
  mat-progress-spinner {
    z-index: 1000; /* Certifique-se de que o spinner está acima do fundo semi-transparente */
  }
  