body{
    font-family: 'Courier New', Courier, monospace;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.conteiner-full {
    width: 100%;
    height: 100%;
}

.status-pdv {
    height: 10vh;
    background-color: blue !important;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    background-image: linear-gradient(to left, rgba(0, 132, 255, 0.849), rgba(0, 191, 255, 0.849), rgba(0, 225, 255, 0.849));
    border-radius: 10px;
}

.text-status-pdv {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 0 0 2px black;
}

.selecao-produtos {
    padding: 0;
    display: flex;
    width: 100%;
    max-height: 90%;
}

.container-selecoes-pdv {
    margin-top: 5px;
    height: 95%;
    width: 100%;
    flex-wrap: wrap;
}

.selecao-produtos-qtd {
    align-items: center;
    align-content: center;
    display: flex;
    text-align: right;
    border: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.137);
    width: 30%;
    height: 90%;
}



.lista-produtos-pdv {
    width: 98%;
    margin-top: 10px;
  
}

.lista-produtos-pdv td{
    text-align: center;
}

.selecao-produtos-codigo {
    text-align: left;
    border: solid;
    border-width: 1px;
    width: 88%;
    height: 90%;
    border-color: rgba(0, 0, 0, 0.137);
}

.flex-display-pdv{
    display: flex;
    width: 100%;
    height: 100%;
    height: 30px;
    margin-top: 10px;
}

.input-quantidade-produto-pdv{
    width: 90%;
    touch-action: manipulation; 
}

.flex-uni-partes-pdv{
    height: 70%;
}

.buttons-total-pdv{
    width: 25%;
    margin-left: 10px;
    margin-top: 10px;
    
}

.div-total-mercadorias{
    height: 100px;
    
}

.div-totais-pdv {
    background-color: blue !important; background-image: linear-gradient(to left, rgba(0, 132, 255, 0.849), rgba(0, 191, 255, 0.849), rgba(0, 225, 255, 0.849));
    font-size: 20px;
    text-shadow: 0 0 2px rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    margin-bottom: 20px;
    text-align: center;
    background-color: rgb(34, 155, 255);
    height: 21.5%;
    border-radius: 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.valores-pdv {
    padding: 10px;
    font-size: 30px;
    
}



.buttons-actions-grid {
    display: flex;
    justify-content: space-between;
    float: right;
    width: 60%;
    margin-top: 20px;
    margin: 15px;
}

.button-actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 150px;
    height: 90px;


    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color:rgb(25, 151, 255);
    border-radius: 10px;
    cursor: pointer;
    border: none;
}

.button-actions:hover{
    background-color:rgb(0, 179, 255);
}

.icon-action-pdv {
    color: #002851;
    font-size: 27px; 
}

.div-pdv-vazio{
    height: 80%;
    align-items: center;
    text-align: center;
    display: inline-flexbox;
    justify-content: center;
}

.icon-pdv-vazio{
    margin-top: 10%;
    font-size: 1000%;
    width: 100%;
    height: 100%;
}

.text-totais-pdv{
    text-align: center; 
      border-bottom: solid; 
      border: 1px solid rgb(0, 0, 0);
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
      background-color: rgb(74, 165, 255);
      padding: .2em 1em;
      margin: 0 !important;
      color: rgb(0, 0, 0);
      font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container-pdv{
      height: 95%;
      margin-left: 10px;
}

@media (min-width: 0px) and (max-width: 700px ) {

    .buttons-actions-grid {

        display: flex;
        align-items: left;
        justify-content: left;
        width: 100%;
        margin-top: 20px;
        margin: 15px;
        margin-left: 10px !important;
    }
    .button-actions{
        margin-top: 3%;
        margin-left: 8%;
        width: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
        

        
    }
    .flex-uni-partes-pdv{
        margin-right:  5%;
    }
    .buttons-total-pdv, .div-totais-pdv{
        width: 0px;
        display: none;
    }
    
    .principal-pdv{
        margin: 0;
        height: 100% !important;
        width: 110% !important;
        touch-action: manipulation;
    }
    .status-pdv {
        font-size: 25px;
        display: flex;
        margin-right: 25%;
        width: 100%;
    }
    

    .selecao-produtos {
        width: 95%;
        max-height: 90%;
        margin-left: 10px;
      
    }

    .selecao-produtos-qtd,
.selecao-produtos-codigo {
  z-index: 1;
}

    
    
}
