<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">


<div class="conteiner-full" style="width: 100%; height: 100%; padding: 0;">
    <div class="container-pdv">
    <div class="status-pdv">
      <div class="text-status-pdv">PRONTO PARA VENDA</div>
    </div>

    <div class="flex-uni-partes-pdv" style="display: flex;">

    <div class="principal-pdv" style="height: 100%; width: 75%;">    

    <div class="flex-display-pdv">
        <input class="selecao-produtos-qtd" value="1"/>
        <mat-icon style="color: rgb(0, 255, 234);">clear</mat-icon>&nbsp;
        <input [(ngModel)]="codigoProduto" (keyup.enter)="adicionarProduto(codigoProduto)" class="selecao-produtos-codigo" />

      </div>      
      
  
      <table class="lista-produtos-pdv" style="border-collapse: collapse; width: 100%; background-color: #f2f2f2;">
        <th style="padding: 8px;">Descrição</th>
                <th style="padding: 8px; vertical-align: middle;">Quantidade</th>
                <th style="padding: 8px; vertical-align: middle;">Desconto</th>
                <th style="padding: 8px; vertical-align: middle;">Preço</th>
      </table>
      <div *ngIf="!(produtos.length == 0)" class="selecao-produtos" style="height: 80%; overflow: auto;">
        <div class="container-selecoes-pdv">
      
          <div style="overflow: auto;">
            <table class="lista-produtos-pdv" style="border-collapse: collapse; width: 100%;">
              <thead>
                <tr style="background-color: #f2f2f2;">
      
                </tr>
              </thead>
              <tbody style="line-height: 1.5;">
      
                <ng-container *ngFor="let produto of produtos; let i = index">
      
                  <tr [style.background-color]="i % 2 === 0 ? '#f2f2f2' : '#ffffff'">
                    <td style="padding: 8px; vertical-align: middle;">{{produto.nome}}</td>
                    <td style="padding: 8px; vertical-align: middle;">1</td>
                    <td style="padding: 8px; vertical-align: middle;">0</td>
                    <td style="padding: 8px; display: flex; align-items: flex-end;">{{produto.preco}}</td>
                  </tr>
      
                </ng-container>
              </tbody>
            </table>
      
          </div>
        </div>
      </div>
      

 
    <div class="div-pdv-vazio" *ngIf="produtos.length == 0">
      <div class="icon-container">
          <span><mat-icon class="icon-pdv-vazio">remove_shopping_cart</mat-icon></span>
      </div>
      <p>Não há produtos selecionados...</p>
  </div>
  
    
  
</div>
<div class="buttons-total-pdv">
    <div class="div-totais-pdv">
      <h3 class="text-totais-pdv">
        TOTAL PRODUTOS<br>
        
    </h3>
    <div class="valores-pdv"> R$ {{(produtosTotal) | number:'1.2-2' }} </div>

    </div>
    <div class="div-totais-pdv">
      <h3 class="text-totais-pdv">
      TOTAL DESCONTOS<br>
    </h3>
        <div class="valores-pdv"> R$0,00</div>
    </div>
    <div  class="div-totais-pdv">
      <h3 class="text-totais-pdv">
   TOTAL ACRÉSCIMOS
      </h3>
        <div class="valores-pdv"> R$0,00</div>
    </div>
    <div class="div-totais-pdv">
      <h3 class="text-totais-pdv">
        TOTAL Á PAGAR
      </h3>
        <div class="valores-pdv"> R$ {{produtosTotal | number:'1.2-2' }} </div>
    </div>
</div>

</div>

<div style=" background-color: blue !important; background-image: linear-gradient(to left, rgba(0, 132, 255, 0.849), rgba(0, 191, 255, 0.849), rgba(0, 225, 255, 0.849)); width: 100%; height: 17.5%; margin-top: 8px; border-radius: 10px;">
<div class="buttons-actions-grid">
    <button *ngIf="!telaPequena" (click)="testarBotoes()" class="button-actions">
        <span><mat-icon class="icon-action-pdv">remove_shopping_cart</mat-icon></span>
        <span>Cancelar Venda</span>
    </button>

    <button *ngIf="!telaPequena" (click)="testarBotoes()" class="button-actions">
        <span><mat-icon class="icon-action-pdv">cancel</mat-icon></span>
        <span>Cancelar Item</span>
    </button>

    <button *ngIf="!telaPequena" (click)="testarBotoes()" class="button-actions">
        <span><mat-icon class="icon-action-pdv">search</mat-icon></span>
        <span>Buscar Produto</span>
    </button>

    <button *ngIf="!telaPequena" (click)="testarBotoes()" class="button-actions">
        <span><mat-icon class="icon-action-pdv">iso</mat-icon></span>
        <span>Desconto / <br> Acréscimo</span>
    </button>

    <button (click)="testarBotoes()" class="button-actions">
        <span><mat-icon class="icon-action-pdv">shopping_cart</mat-icon></span>
        <span>Finalizar Venda</span>
    </button>
</div>
    
</div>

  </div>
  