<div class="titulo-menu-cadastros">
    <div class="text-titulo-menu-cadastros">Menu de Cadastros</div>
</div>

<div class="div-total-cadastros">
    <p class="titulo-grupos-cadastro">Estoque</p>
 <div class="relacao-produtos">
    <div class="divs-grupos-selecao-cadastro"> <mat-icon class="icon-cadastros">shopping_basket</mat-icon> &nbsp;Produtos</div>
    <div class="divs-grupos-selecao-cadastro"> <mat-icon class="icon-cadastros">pie_chart_outline</mat-icon> &nbsp;Categorias</div>
    <div class="divs-grupos-selecao-cadastro"> <mat-icon class="icon-cadastros">storage</mat-icon> &nbsp;Grupos</div>
 </div>

 <div class="div-total-cadastros">
    <p class="titulo-grupos-cadastro">Pessoas</p>
 <div class="relacao-produtos">
    <div class="divs-grupos-selecao-cadastro"> <mat-icon class="icon-cadastros">shopping_basket</mat-icon> &nbsp;Clientes</div>
    <div class="divs-grupos-selecao-cadastro"> <mat-icon class="icon-cadastros">pie_chart_outline</mat-icon> &nbsp;Usuários</div>
    <div class="divs-grupos-selecao-cadastro"> <mat-icon class="icon-cadastros">storage</mat-icon> &nbsp;Funcionários</div>
 </div>
</div>

  