.div-total-cadastros{
    width: 100%;
    height: 100%;
    justify-content: center;
    text-align: center;
   
}



.titulo-grupos-cadastro{
    margin-top: 3vh;
    font-size: 30px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.relacao-produtos {
    width: 100%;
    height: 30%;
    display: flex; 
    justify-content: space-around; 
    align-items: center;
  }
  
  .divs-grupos-selecao-cadastro {
    box-shadow: 5px 5px 5px rgb(174, 174, 174);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #00d0ff;
    height: 80%; 
    width: 30%; 
    margin: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
  }

  .divs-grupos-selecao-cadastro:hover{
    background-color:rgb(0, 179, 255);
  }

  .icon-cadastros{
    color: rgba(0, 0, 0, 0.788);
  }

  