<div class="titulo-menu-cadastros">
    <div class="text-titulo-menu-cadastros">Menu de Cadastros</div>
</div>

<div class="div-total-cadastros">
    <p class="titulo-grupos-cadastro">Estoque</p>
 <div class="relacao-produtos">
    <button class="divs-grupos-selecao-cadastro" (click)="abrirDialogCadastroProdutos()"> <mat-icon class="icon-cadastros">shopping_basket</mat-icon> &nbsp;Produtos</button>
    <button class="divs-grupos-selecao-cadastro"> <mat-icon class="icon-cadastros">pie_chart_outline</mat-icon> &nbsp;Categorias</button>
    <button class="divs-grupos-selecao-cadastro"> <mat-icon class="icon-cadastros">storage</mat-icon> &nbsp;Grupos</button>
 </div>

 <div class="div-total-cadastros">
    <p class="titulo-grupos-cadastro">Pessoas</p>
 <div class="relacao-produtos">
    <button class="divs-grupos-selecao-cadastro"> <mat-icon class="icon-cadastros">shopping_basket</mat-icon> &nbsp;Clientes</button>
    <button class="divs-grupos-selecao-cadastro"> <mat-icon class="icon-cadastros">pie_chart_outline</mat-icon> &nbsp;Usuários</button>
    <button class="divs-grupos-selecao-cadastro"> <mat-icon class="icon-cadastros">storage</mat-icon> &nbsp;Funcionários</button>
 </div>
</div>

  