<app-titulo [titulo]="'Produtos cadastrados'"></app-titulo>


<div class="inputBusca">
    <input  [(ngModel)]="filtro"  [placeholder]="codigoCheckbox ? 'Digite o código' : descricaoCheckbox ? 'Digite a descrição' : ''" 
    id="inputBusca" [disabled]="!codigoCheckbox && !descricaoCheckbox" (keyup.enter)="buscarProdutosPeloFiltro(filtro)">
     
    <button (click)="buscarProdutosPeloFiltro(filtro)">Buscar</button>

</div>

<div class="opcoesBusca">
    <div class="botaoCadastrarProduto">
        <button id="cadastrarNovoProduto" (click)="abrirDialogCadastroProdutos()">Cadastrar Novo</button>
    </div>
    <div class="checkboxBusca">
        <input type="checkbox" [(ngModel)]="codigoCheckbox" (ngModelChange)="onCodigoCheckboxChange()"> Busca Código
        <input type="checkbox" [(ngModel)]="descricaoCheckbox" (ngModelChange)="onDescricaoCheckboxChange()"> Busca Descrição
    </div>
</div>

<table class="listaProdutos" style="border-collapse: collapse; width: 100%; background-color: #00c8fff1;">
            <th style="padding: 8px; vertical-align: middle;">Descrição</th>
            <th style="padding: 8px; vertical-align: middle;">Código</th>
            <th style="padding: 8px; vertical-align: middle;">Preço</th>
  </table>

  <div *ngIf="!(produtos.length == 0)" class="selecao-produtos" style="height: 80%; overflow: auto;">
        <div class="container-selecoes-pdv">
      
          <div style="overflow: auto;">
            <table class="lista-produtos-pdv" style="border-collapse: collapse; width: 100%;">
              <thead>
                <tr style="background-color: #f2f2f2;">
      
                </tr>
              </thead>
              <tbody style="line-height: 1.5;">
      
                <ng-container *ngFor="let produto of produtos; let i = index">
      
                  <tr [style.background-color]="i % 2 === 0 ? '#f2f2f2' : '#ffffff'">
                    <td style="padding: 8px; vertical-align: middle;">{{produto.nome}}</td>
                    <td style="padding: 8px; vertical-align: middle;">{{produto.codigo}}</td>
                    <td style="padding: 8px; display: flex; align-items: flex-end;">{{produto.preco}}</td>
                  </tr>
      
                </ng-container>
              </tbody>
            </table>
      
          </div>
        </div>
      </div>
