<app-titulo [titulo]="'Produtos cadastrados'"></app-titulo>


<div class="inputBusca">
    <input  [(ngModel)]="filtro"  [placeholder]="codigoCheckbox ? 'Digite o código' : descricaoCheckbox ? 'Digite a descrição' : ''" 
    id="inputBusca" [disabled]="!codigoCheckbox && !descricaoCheckbox" (keyup.enter)="buscarProdutosPeloFiltro(filtro)">
     
    <button (click)="buscarProdutosPeloFiltro(filtro)">Buscar</button>

</div>

<div class="opcoesBusca">
    <div class="botaoCadastrarProduto">
        <button id="cadastrarNovoProduto" (click)="abrirDialogCadastroProdutos()">Cadastrar Novo</button>
    </div>
    <div class="checkboxBusca">
        <input type="checkbox" [(ngModel)]="codigoCheckbox" (ngModelChange)="onCodigoCheckboxChange()"> Busca Código
        <input type="checkbox" [(ngModel)]="descricaoCheckbox" (ngModelChange)="onDescricaoCheckboxChange()"> Busca Descrição
    </div>
</div>

<div class="tela_inteira">
  <div class="listagem_produtos"   *ngIf="produtos.length > 0">
      <div  class="dados_produtos" *ngFor="let produto of produtos" (click)="abrirDialogCadastroProdutos(produto)">
      
        <div>{{ produto.nome }}</div>
      
      </div>
    </div>
  </div>
